* {margin:0; padding:0;}

html,body {height: 100%;}

.wrap {
	width: 1100px; margin: 0 auto;
}

.elements {

}

.common {


	
}

.first{
background: purple;
width: 40px; height: 40px;

}

.sec{
background: yellow;
width: 100px; height: 100px;
display: inline-block;
}

.third{
background: green;
width: 100px; height: 100px;
display: inline-block;
}

div.menu-elements{ width: 548px; background: green; }
div.menu-elements nav{  }
div.menu-elements nav ul{ }
div.menu-elements nav ul li{ padding: 30px 10px;display: inline-block; }
div.menu-elements nav ul li:hover{ background: yellow; }
div.menu-elements nav ul li:last-child:hover{  background: yellow;}
div.menu-elements nav ul li a{ font-size: 20px; }
